.from-input{ display: inline-block; width: 180px; height: 35px; padding: 4px 6px; box-sizing: border-box; background: #fff; border: 1px solid #ccc; border-radius: 6px;  }
.from-item{ margin-bottom: 15px; }


